* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  margin-left: 26%;
  font-size: 14px;
}

@media (max-width: 700px) {
  .footer {
    margin-left: 0%;
    text-align: center;
  }
}
